/* Base Application Styles */
table, form { padding: 10px; }
td, section { padding: 3px 5px 5px 0; border-bottom: 1px solid silver; }
input { margin-top: 5px; }
body {
  color: #666;
  background: #FFF;
}
